<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view>
  <ion-content class="padding">
    <div style="text-align:center" height='100%'><h1 style="padding-top:30%; padding-bottom:30%;color:white; font-family: 'Oswald', sans-serif; font-size:40px;"> {{restaurant.name.toUpperCase()}}</h1></div>
    <img class="blur" ng-src="{{restaurant.image_url.substring(0, restaurant.image_url.lastIndexOf('ms'))+'o.jpg'}}" style="position:absolute; top:0; height:auto; width:100%; z-index:-1">
    
    <a href="#/tab/restaurants/{{restaurantId}}/newDish" style="text-decoration:none"><button class="button button-block button-positive" >Add Dish</button></a>


    <div class="card" ng-repeat="dish in restaurantDishes">
      <a href="#/tab/restaurants/{{restaurantId}}/{{dish.$id}}" style="text-decoration:none"><ion-item> {{foods.get(dish.$id)}}  </ion-item> </a>
    </div>

    
  </ion-content>

</ion-view>
