<ion-view view-title="Food">
  <ion-content class="padding">
    <div class="list">
    <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="query">
        </label>

</div>
    
        
        
    <div class="card" ng-repeat="food in foods(query)" style="clear: both">
      <i class="icon ion-android-star-outline" style="font-size:20px" ng-hide="food.stars>0"></i>
      <i class="icon ion-android-star" style="font-size:20px" ng-show="food.stars>0"></i> 
      <i class="icon ion-android-star-outline" style="font-size:20px" ng-hide="food.stars>1"></i>
      <i class="icon ion-android-star" style="font-size:20px" ng-show="food.stars>1"></i>
      <i class="icon ion-android-star-outline" style="font-size:20px" ng-hide="food.stars>2"></i> 
      <i class="icon ion-android-star" style="font-size:20px" ng-show="food.stars>2"></i>
      <i class="icon ion-android-star-outline" style="font-size:20px" ng-hide="food.stars>3"></i>
      <i class="icon ion-android-star" style="font-size:20px" ng-show="food.stars>3"></i>
      <i class="icon ion-android-star-outline" style="font-size:20px" ng-hide="food.stars>4"></i>
      <i class="icon ion-android-star" style="font-size:20px" ng-show="food.stars>4"></i>
      <ion-item href="#/tab/food/{{food.restaurantId}}/{{food.$id}}"> <p style="float:left"> {{food.name}} </p></ion-item>
    </div>
  </ion-content>
</ion-view>
